@model IEnumerable<Estudio_de_Arquitectura_J_W.Models.Comentarios>

<h2>Comentarios</h2>

<div class="container">

  @if(TempData["mensaje"] != null){
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @TempData["mensaje"]
        <button type="button" class="close" data-dismiss="alert" arial-label="Close">
          <span aria-hidden="true">&times;</span>

        </button>
    </div>
  }

</div>

<table class="table table-hover">
     <thead class="thead-dark">
        <tr>
                <th scope="col">
                    Numero de Comentario
                </th>
                <th scope="col">
                    Comentario
                </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="col">
                    @Html.DisplayFor(modelItem => item.id)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.comentario)
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="CrearComentario">Añadir un Comentario</a>
</p>

<h1>@ViewData["Message"]</h1>