<h1 style="text-align: center;">Nuestros Servicios</h1>
<p style="text-align: center;">J&W es un estudio de Arquitectos profesionales especializados en diseños arquitectonicos, cumpliendo las expectativas de nuestros clientes, 
    garantizando satisfaccion al bienestar y calidad de vida de ser una empresa comprometida, crea experiencias unicas a los clientes</p>
<hr size="2px" color="black"/>

<h1 style="text-align: left ;">Diseño Arquitectónico</h1>
<div>

</div>

<div class="container">
  <div class="row">
      <div class="col-6" style="text-align: left;">
        <p>
        En un concepto mas amplio, el proyecto arquitectonico competo comprende el desarrollo del diseño de una edificacion,
        la distribucion de usos y espacios, 
        la manera de utilizar los materiales y tecnologias, y la elaboracion del conjunto de planos con los detallos y perspectivas.
        </p> 
        <h2>Proceso de Diseño Arquitectonico</h2>
        <ul>
            <li>Ten a mano un programa arquitectonico</li>
            <li>Diagrama de Relaciones</li>
            <li>Estudio de Areas</li>
            <li>Analisis del sitio</li>
            <li>Sacar Provecho del espacio</li>
            <li>Anteproyecto Arquitectonico</li>
            <li>Revisiones</li>
            <li>Proyecto Arquitectonico</li>
        </ul>       
      </div>
      <div class="col-4" style="text-align: right ;">
            <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="">
            <br>
            <br>
                 
            <a asp-action="Contacto" asp-controller="Contacto"><button type="button" class="btn btn-dark" style="background-color: red;">  Adquirir Servicios</button></a>
                  
      </div>
      
   </div>
</div>