@model Estudio_de_Arquitectura_J_W.Models.Saneamiento
<form asp-controller="Servicios" asp-action="ModificarDiseño" class="row g-3">

  <div class="col-md-6">
    <label for="name" class="form-label">Descripcion</label>
    <textarea asp-for="descripcionSa" class="form-control" placeholder="Inserte Descripcio Aqui"></textarea>
  </div>

  <div class="col-12">
    <label for="image" class="form-label">Imagen</label>
    <input asp-for="imagenSa" class="form-control" placeholder="Inserte URL de imagen Aqui">
  </div>

 <br>
 <br>

  <div class="col-12">
    <button type="submit" class="btn btn-secondary">Actualizar</button>
  </div>

</form>