@model Estudio_de_Arquitectura_J_W.Models.Login
<h1>Registro</h1>
<div id="emailHelp" class="form-text">Para registrarse Ingrese su correo y contraseña :D</div>
<form asp-controller="Login" asp-action="Registrar">
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Correo</label>
    <input asp-for="correo" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input asp-for="contraseña" type="password" id="password"class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-secondary">Registrar</button>
</form>

<h1>@ViewData["Message"]</h1>