<h1 style="text-align: center;">AYUDANOS A MEJORAR</h1>
<p style="text-align: center;">Con tu respuesta nos ayudarás a mejorar nuestra pagina 
    y nuestra calidad de servicio</p>
<body>
    <div class="container">  
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">

                <div class="card h-100">
                    
                    <a>
                        <img src="https://centrourbano.com/revista/wp-content/uploads/Por-qu%C3%A9-contratar-a-un-arquitecto-para-construir-o-remodelar-una-vivienda.jpg" class="card-img-top" alt="...">
                    </a>
                        
                        <div class="card-body">
                        <h4 class="card-title">Califica al arquitecto</a></h4>
                        <h6 class="card-title">"Recuerda que tu respuesta es muy importante"</a></h6>
                        <h8 class="card-title">Con tu ayuda podremos mejorar el servicio de nuestro arquitecto</a></h8>
                        </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">                    
                    </a>
                        <div class="card-body">
                            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc7NF841yoaN4nOn_CUZQqTfV6ruMEN5LOSNc43cNsSiltzvw/viewform?embedded=true" width="640" height="414" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
                        </div>
                </div>
            </div>      
        </div>
        <br>

    <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">

<div class="card h-100">
                    
                    <a>
                        <img src="/image/pagina.png" class="card-img-top" alt="...">
                    </a>
                        
                        <div class="card-body">
                        <h4 class="card-title">Califica la pagina y el servicio</a></h4>
                        <h6 class="card-title">"Recuerda que tu respuesta es muy importante"</a></h6>
                        <h8 class="card-title">Con tu ayuda podremos mejorar el nuestra pagina</a></h8>
                        </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    
                        <div class="card-body">
                            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSekPGGNPKeezhCU0n659npZPL-0NfBaYXTIeB_2ba_JWHA5YQ/viewform?embedded=true" width="640" height="414" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>  
                            </div>
                </div>
            </div>      
        </div>
    

    </div>   



</body> 
