@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>



<figure class="text-center">
  <blockquote class="blockquote">
    <p>ＥＳＴＵＤＩＯ ＤＥ ＡＲＱＵＩＴＥＣＴＵＲＡ Ｊ＆Ｗ</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    ᴘʟᴀɴᴏꜱ & ᴄᴏɴꜱᴜʟᴛᴏʀɪᴀ <cite title="Source Title">CONOCENOS !!</cite>
  </figcaption>
</figure>


<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnnfWIcMt3yaOksy41EzWWBpCaiCk8IURVcQ&usqp=CAU" class="d-block w-100" height="200" width="800" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Nuestra vision</h5>
        <p class="card-text">Ser la empresa referente en el negocio inmobiliario de manera rentable y sostenible, creando una experiencia única en nuestros clientes y construyendo su legado a través de un equipo comprometido y motivado.
         </p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>

    </div>
      </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaeOisewcsVB5mtyqEw9JKm9rdbB4TB3_MvA&usqp=CAU" class="d-block w-100" height="200" width="800"alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Nuestra vision</h5>
        <p class="card-text">Ser la empresa referente en el negocio inmobiliario de manera rentable y sostenible, creando una experiencia única en nuestros clientes y construyendo su legado a través de un equipo comprometido y motivado.
         </p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>

    </div>
      </div>
</div>

<br>

<div class="card-group">
  <div class="card">
    <img src="https://www.cosasdearquitectos.com/wp-content/uploads/Errores-que-cometen-los-arquitectos.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">NUESTRO EQUIPO</h5>
      <p class="card-text">Lo componen profesionales, técnicos y administrativos altamente especializados y de amplia experiencia, quienes actúan comprometidos con su trabajo y el proyecto común; para brindarles el mejor servicio y cumplir con las exigencias del mercado. Además, contamos con colaboradores externos de amplia trayectoria.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://arquitecturaideal.com/wp-content/uploads/2015/10/futuro-de-la-arquitectura-Vincent-Callebaut.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">NUESTRO COMPROMISO</h5>
      <p class="card-text">J&W se preocupa por la comunidad en la cual se desenvuelve, por ello, cuando se inicia el desarrollo de un nuevo proyecto, tomamos en cuenta factores urbanísticos y paisajísticos garantizando un óptimo resultado final a los futuros propietarios y a los vecinos. Es así que, la comodidad y tranquilidad a la que están acostumbrados no será afectada.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXQqJ7IakWT0piG0d5952dahBzpMg7p9-t1A&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">DISEÑO INTEGRAL</h5>
      <p class="card-text">A través de los años, J&W ha demostrado que sus clientes pueden comprar con total tranquilidad sus inmuebles en las etapas de planos y construcción, estando confiados que quedaron satisfechos al ver su propiedad terminada ya que cumplirá con los acabados y características prometidas. Es importante resaltar que el diseño no sólo lo verá en la fachada de su inmueble sino también, cuidaremos siempre los detalles de los interiores.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<br>


<div class="card mb-3">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvTND4-keA-Yr0vg7NjjFhfFuIqKMMJs1fuQ&usqp=CAU" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">BENEFICIO DE PROYECTOS ECOAMIGABLE </h5>
    <p class="card-text">El constante crecimiento poblacional está teniendo un importante impacto en el medio ambiente. Ante esta situación, las viviendas y edificios ecoamigables son una excelente propuesta ante la urbanización. Estos proyectos han experimentado un aumento de popularidad gracias a las múltiples ventajas que presentan. Ya sea por cuidar al planeta o por economizar costos.

Características de lo ecoamigable
La construcción ecoamigable se enfoca, primero, en la elección de la mejor ubicación para realizar el proyecto, con el fin de que la edificación se integre al espacio ya existente.
El diseño está orientado a mejorar la calidad de vida en el ambiente familiar o laboral.
Los materiales de construcción reducen la contaminación y la degradación ambiental; además, ayudan a proteger la salud de quienes habiten en la vivienda.
 </p>
    <p class="card-text"><small class="text-muted"></small></p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">COMPROMISO SOCIAL</h5>
    <p class="card-text">En J&W contribuimos activa y voluntariamente al mejoramiento de la sociedad, involucrándonos en acciones sociales concretas que tienen por objetivo mejorar la calidad de vida de personas vulnerables en nuestro país.

Mediante la alianza con la Asociación Hogar de las Bienaventuranzas, nuestros accionistas y colaboradores han encontrado un ámbito de despliegue personal que transciende el ámbito laboral y nos permite tomar conciencia de la importancia de valores como la solidaridad, igualdad de oportunidades y compromiso con nuestro entorno.</p>
    <p class="card-text"><small class="text-muted"></small></p>
  </div>
  <img src="https://images.adsttc.com/media/images/572e/10b4/e58e/ce74/ca00/0168/newsletter/T02_ADI.jpg?1462636713" class="card-img-bottom" alt="...">
</div>
<br>
<div class="card bg-dark text-white">
  <img src="https://static-wc.arcux.net/uploads/20200529130551/la-arquitectura-1.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 style="color:#000000" class="card-title">CONTACTANOS</h5>
    <p style="color:#000000" class="card-text">Para cualquier consulta mandanos un mensaje </p>
    <p style="color:#000000"class="card-text">la atencion es de 8am a 8pm</p>
    <a asp-action="Contacto" asp-controller="Contacto"><button type="button" class="btn btn-dark">  CONTACTANOS</button></a>
  </div>
</div>
