@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>



 
<div class="card bg-dark text-white">
  <img src="https://i.pinimg.com/236x/46/7d/f9/467df97c03fca7b5230053c921145591.jpg" class="card-img" height="400" width="400" alt="...">
  <div class="card-img-overlay">
    <h5 style="color:#000000" class="card-title">BECERRA 227</h5>
    <p style="color:#000000" class="card-text">Miraflores</p>
    <p style="color:#000000"class="card-text">Desde $579,075</p>
   </div>
</div>