@{
    ViewData["Title"] = "";
}
<h1 style="text-align: center;">Nuestros Servicios</h1>
<p style="text-align: center;">J&W es un estudio de Arquitectos profesionales especializados en diseños arquitectonicos, cumpliendo las expectativas de nuestros clientes, 
    garantizando satisfaccion al bienestar y calidad de vida de ser una empresa comprometida, crea experiencias unicas a los clientes</p>

<body>
    <div class="container">  
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">

                <div class="card h-100">
                    
                    <a asp-controller="Servicios" asp-action="DiseñoArquitectonico">
                        <img src="http://www.emarq.net/uploads/8/3/4/5/8345765/fases-del-dise-o-arquitectonico_orig.jpg" class="card-img-top" alt="...">
                    </a>
                        
                        <div class="card-body">
                        <h5 class="card-title"><a asp-controller="Servicios" asp-action="DiseñoArquitectonico">Diseño Arquitectónico</a></h5>
                        </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <a asp-controller="Servicios" asp-action="Construccion">
                    <img src="https://anclaf.com/wp-content/uploads/2020/08/construccion.jpg" class="card-img-top" alt="...">
                    </a>
                        <div class="card-body">
                            <h5 class="card-title"><a asp-controller="Servicios" asp-action="Construccion">Construcción</a></h5>
                        </div>
                </div>
            </div>      
        </div>
        <br>

    <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">

                <div class="card h-100">
                    <a asp-controller="Servicios" asp-action="Consultoria">
                    <img src="https://www.cmcnegocio.com/wp-content/uploads/2020/03/fases-de-una-consultor%C3%ADa-integral.jpg" class="card-img-top" alt="...">
                    </a>
                        <div class="card-body">
                        <h5 class="card-title"><a asp-controller="Servicios" asp-action="Consultoria">Consultoría</a></h5>
                        </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <a asp-controller="Servicios" asp-action="Saneamiento">
                    <img src="https://www.tpclaw.pe/images/publicacion/saneamiento-a-nivel-municipal-y-registral-en-chiclayo3.jpg" class="card-img-top" alt="...">
                    </a>
                        <div class="card-body">
                            <h5 class="card-title"><a asp-controller="Servicios" asp-action="Saneamiento">Saneamiento físico y legal</a></h5>
                            </div>
                </div>
            </div>      
        </div>
    

    </div>   



</body> 
