@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<body>
    <div class="container">  
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">

                <div class="card h-100">
                    <a href="#">
                    <img src="http://www.emarq.net/uploads/8/3/4/5/8345765/fases-del-dise-o-arquitectonico_orig.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                        <a href="Arquitectura"><h5 class="card-title">Diseño Arquitectonico</h5></a>
                        </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="https://anclaf.com/wp-content/uploads/2020/08/construccion.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="Construccion"><h5 class="card-title">Construcción</h5></a>
                        </div>
                </div>
            </div>      
        </div>
        <br>

    <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">

                <div class="card h-100">
                    <img src="https://www.cmcnegocio.com/wp-content/uploads/2020/03/fases-de-una-consultor%C3%ADa-integral.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <a href="Consultoria"><h5 class="card-title">Consultoria</h5></a>
                        </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="https://www.tpclaw.pe/images/publicacion/saneamiento-a-nivel-municipal-y-registral-en-chiclayo3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="Legal"><h5 class="card-title">Saneamiento Fisico y Legal</h5></a>
                            </div>
                </div>
            </div>      
        </div>
    

    </div>   



</body> 
